torch

# Pin x-transformers because of this regression:
# https://github.com/lucidrains/x-transformers/issues/352
x-transformers>=2.1.2,<=2.11.23

pretty_midi
tqdm
note_seq
argbind
flask
onnxruntime==1.21.0
onnx==1.17.0
numpy<2.0,>=1.23.0
pyopenssl
wget
